@inherits LayoutComponentBase
@inject NavigationManager NavManager

<div id="main-layout-page">
    <NavMenu />

    <div class="col-layout">
        <div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>

        <main>
            @Body
        </main>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        NavManager.NavigateTo("leader-pivot-demo");
    }
}