button {
    max-height:40px;
}
#demo-page {
    display:flex;
    flex:1 1 auto;
    flex-direction: column;
    min-height: 0;
    min-width: 0;
}

#demo-pivot-container {
    display: flex;
    flex:1 1 auto;
    flex-direction: column;
    overflow: auto;
    min-height:0;
    min-width:0;
}

