@page "/leaderpivotdemo"
@using LeaderAnalytics.LeaderPivot
@using LeaderAnalytics.LeaderPivot.TestData


    <h1>LeaderPivot Demo</h1>

    <div id="demo-pivot-container">
        <LeaderPivot T="SalesData" @ref="pivot1" DataSource="@LoadSalesData" Measures="@SalesDataService.LoadMeasures()" Dimensions="@SalesDataService.LoadDimensions()" DisplayGrandTotals="true">
        </LeaderPivot>
    </div>


@code {

    private LeaderPivot<SalesData> pivot1;
    private SalesDataService SalesDataService;


    public LeaderPivotDemo()
    {
        SalesDataService = new SalesDataService();
    }


    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1);
        await base.OnInitializedAsync();
    }



    private bool FilterFunc(SalesData state)
    {
        return true;

    }

    private PagedQueryResult<SalesData> LoadSalesData(PagedQueryArgs args)
    {
        return new PagedQueryResult<SalesData> { Data = SalesDataService.GetSalesData() };
    }

}
